<div class="reminders-template">
  <p>Reminders: </p>

  <ul class="reminders">
    {{#each model as |reminder|}}
    <li class='spec-reminder-item'>{{reminder.title}}</li>
    {{/each}}
  </ul>

  {{outlet}}
</div>
