<div class="artists template">
  <p>This is <em>reminder.hbs</em>.</p>

  <ul class="reminders">
    {{#each model as |reminder|}}
    <li class='spec-reminder-item'>{{reminder.title}}</li>
    {{/each}}
  </ul>

  {{outlet}}
</div>
