<div class="reminders-template">
  <h2>Reminders: </h2>

  <div class="reminders">
    {{#each model as |reminder|}}
      {{#link-to "reminders.reminder" reminder.id class="reminder-title"  }}
        <p class='spec-reminder-item'>{{reminder.title}}</p>
      {{/link-to}}
      <p class="spec-reminder-date">{{reminder.date}}</p>
    {{/each}}
  </div>

  {{outlet}}
</div>
