<div class="reminders-template">
  <h2>Reminders: </h2>

  <div class="reminders">
    {{#each model as |reminder|}}
    <p class='spec-reminder-item'>{{reminder.title}}</p>
    {{/each}}
  </div>

  {{outlet}}
</div>
